<div class="offnav"></div>
<nav class="category-nav">
  <div class="container">
    <div class="row">
      <div class="col-1 col-sm-1 col-md-1 col-lg-1 mx-auto arrow" data-bs-toggle="modal" data-bs-target="#triggers"><i class="fas fa-search always"></i></div>
      <div class="col-10 col-sm-8 col-md-8 d-block d-lg-none">
        <div class= "sub-nav-search ">
          <%= form_tag(products_path, method: :get) do %>
            <%= text_field_tag :search, nil, class: "form-control string required", autocomplete: 'off'%>
          <% end %>
        </div>
      </div>
      <div class="col-lg-2 col-sm-2 d-none d-lg-block mx-auto">
        <div class= "subcategories-link " type="button" data-bs-toggle="collapse" data-bs-target="#sales" aria-expanded="false" aria-controls="sales" id="sales-link"> Ventes </div>
      </div>
      <div class="col-lg-2 col-sm-2 d-none d-lg-block mx-auto">
        <div class= "subcategories-link" type="button" data-bs-toggle="collapse" data-bs-target="#rent" aria-expanded="false" aria-controls="rent" id="rent-link"> Locations </div>
      </div>
      <div class="col-lg-2 col-sm-2 d-none d-lg-block mx-auto">
        <div class= "subcategories-link" type="button" data-bs-toggle="collapse" data-bs-target="#atelier" aria-expanded="false" aria-controls="atelier" id="atelier-link"> Atelier Soumat</div>
      </div>
      <div class="col-lg-2 col-sm-2 d-none d-lg-block mx-auto">
        <div class= "subcategories-link" type="button" data-bs-toggle="collapse" data-bs-target="#accessoires" aria-expanded="false" aria-controls="accessoires" id="accessoires-link"> Accessoires </div>
      </div>
      <div class="col-lg-2 col-sm-2 d-none d-lg-block mx-auto">
        <div class= "subcategories-link" type="button" data-bs-toggle="collapse" data-bs-target="#roulez-en-règle" aria-expanded="false" aria-controls="roulez-en-règle" id="roulez-en-règle-link"> Roulez en règle </div>
      </div>
      <div class="col-1 col-lg-1 d-none d-lg-block"></div>
    </div>
  </div>
</nav>


<div class="collapse categories" id="sales">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Notre parc', trailers_products_path, class: 'subcategory-link'%>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Bagagères', luggage_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Nautiques', water_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to "Transport d'animaux", animals_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Espaces verts', garden_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Bennes', bin_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Porte-moto', moto_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Porte-voiture', car_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Porte-engin', truck_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Remorques plateau', trail_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Remorques fourgon', close_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Remorques magasin', market_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse categories" id="rent">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Notre parc', rent_products_path, class: 'subcategory-link'%>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Bagagères', luggage_rent_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Nautiques', water_rent_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to "Transport d'animaux", animals_rent_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Espaces verts', garden_rent_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Bennes', bin_rent_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Porte-moto', moto_rent_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Porte-voiture', car_rent_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Porte-engin', truck_rent_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Remorques plateau', trail_rent_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Remorques fourgon', close_rent_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Remorques magasin', market_rent_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse categories" id="atelier">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'maintenance', maintenance_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Réglages', set_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Suspensions / renforts', reinforcements_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Aide à la manoeuvre', direction_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Stabilisation', stabilisation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'installations', installations_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'installation électrique', wire_installation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to "installation d'essieux", stick_installation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'équipements de stabilité', stabilisation_installation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'installation suspensions', reinforcements_installation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to "installation d'attelage", locker_installation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to "aide à la manoeuvre", direction_installation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse categories" id="accessoires">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Électricité', wires_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Attelages', lockers_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Essieux', sticks_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Roues', wheels_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Suspensions / renforts', suspensions_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Bâches', sheets_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse categories" id="roulez-en-règle">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'documents', documents_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-3 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Immatriculations', plate_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-3 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Contrôle technique', technical_control_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-3 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Assurances', insurrance_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $("#sales-link").hover(function(){
      $("#sales").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#rent-link").hover(function(){
      $("#rent").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#atelier-link").hover(function(){
      $("#atelier").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires-link").hover(function(){
      $("#accessoires").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#roulez-en-règle-link").hover(function(){
      $("#roulez-en-règle").show();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#sales").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#rent").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#atelier").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#roulez-en-règle").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>


<script>
  $(document).ready(function(){
    $("#sales-link").hover(function(){
      $("#rent").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#rent-link").hover(function(){
      $("#sales").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#atelier-link").hover(function(){
      $("#rent").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#rent-link").hover(function(){
      $("#atelier").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires-link").hover(function(){
      $("#atelier").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#atelier-link").hover(function(){
      $("#accessoires").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires-link").hover(function(){
      $("#roulez-en-règle").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#roulez-en-règle-link").hover(function(){
      $("#accessoires").hide();
    });
  });
</script>


<div class="modal fade" id="triggers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filtres</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'shared/filter' %>
      </div>
    </div>
  </div>
</div>


