<div class="navbar category-nav d-none d-sm-block">
  <div class="container">
    <div class= "subcategories-link" type="button" data-bs-toggle="collapse" data-bs-target="#remorques" aria-expanded="false" aria-controls="remorques" id="remorques-link"> Remorques </div>
    <div class= "subcategories-link" type="button" data-bs-toggle="collapse" data-bs-target="#accessoires" aria-expanded="false" aria-controls="accessoires" id="accessoires-link"> Accessoires </div>
    <div class= "subcategories-link" type="button" data-bs-toggle="collapse" data-bs-target="#entretien" aria-expanded="false" aria-controls="entretien" id="entretien-link"> Entretien </div>
    <div class= "subcategories-link" type="button" data-bs-toggle="collapse" data-bs-target="#installation" aria-expanded="false" aria-controls="installation" id="installation-link"> Installation </div>
    <div class= "subcategories-link" type="button" data-bs-toggle="collapse" data-bs-target="#administratif" aria-expanded="false" aria-controls="administration" id="administratif-link"> Administratif </div>
  </div>
</div>

<div class="collapse categories" id="remorques">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Remorques', trailers_products_path %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Bagagères', luggage_products_path %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Nautiques', water_products_path %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to "Transport d'animaux", animals_products_path %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Espaces verts', garden_products_path %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Bennes', bin_products_path %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          VENTE.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          VENTE.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          VENTE.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          VENTE.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          VENTE.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          VENTE.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse categories" id="accessoires">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'accessoires', accessories_products_path %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ACCESSOIRES.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ACCESSOIRES.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ACCESSOIRES.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ACCESSOIRES.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ACCESSOIRES.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ACCESSOIRES.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ACCESSOIRES.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ACCESSOIRES.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ACCESSOIRES.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ACCESSOIRES.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ACCESSOIRES.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse categories" id="entretien">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'maintenance', maintenance_products_path %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ENTRETIEN.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ENTRETIEN.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ENTRETIEN.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ENTRETIEN.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ENTRETIEN.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ENTRETIEN.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ENTRETIEN.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ENTRETIEN.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ENTRETIEN.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ENTRETIEN.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ENTRETIEN.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse categories" id="installation">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'installations', installations_products_path %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          INSTALLATION.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          INSTALLATION.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          INSTALLATION.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          INSTALLATION.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          INSTALLATION.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          INSTALLATION.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          INSTALLATION.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          INSTALLATION.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          INSTALLATION.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          INSTALLATION.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          INSTALLATION.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse categories" id="administratif">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'documents', documents_products_path %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ADMINISTRATIF.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ADMINISTRATIF.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ADMINISTRATIF.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ADMINISTRATIF.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ADMINISTRATIF.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ADMINISTRATIF.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ADMINISTRATIF.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ADMINISTRATIF.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ADMINISTRATIF.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ADMINISTRATIF.
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          ADMINISTRATIF.
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $("#remorques-link").hover(function(){
      $("#remorques").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires-link").hover(function(){
      $("#accessoires").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#entretien-link").hover(function(){
      $("#entretien").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#installation-link").hover(function(){
      $("#installation").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#administratif-link").hover(function(){
      $("#administratif").show();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#remorques").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#entretien").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#installation").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#administratif").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>


<script>
  $(document).ready(function(){
    $("#remorques-link").hover(function(){
      $("#accessoires").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires-link").hover(function(){
      $("#remorques").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#entretien-link").hover(function(){
      $("#accessoires").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires-link").hover(function(){
      $("#entretien").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#installation-link").hover(function(){
      $("#entretien").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#entretien-link").hover(function(){
      $("#installation").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#administratif-link").hover(function(){
      $("#installation").hide();
    });
  });
</script>





