<div class="offnav"></div>
<nav class="category-nav">
  <div class="container">
    <div class="row">
      <div class="col-1 col-sm-1 col-md-1 col-lg-1 mx-auto" data-bs-toggle="modal" data-bs-target="#triggers"><i class="fas fa-bars always"></i></div>
      <div class="col-10 col-sm-8 col-md-8 d-block d-lg-none">
        <div class= "sub-nav-search ">
          <%= form_tag(products_path, method: :get) do %>
            <%= text_field_tag :search, nil, class: "form-control string required", autocomplete: 'off'%>
          <% end %>
        </div>
      </div>
      <div class="col-lg-2 col-sm-2 d-none d-lg-block mx-auto">
        <div class= "subcategories-link " type="button" data-bs-toggle="collapse" data-bs-target="#remorques" aria-expanded="false" aria-controls="remorques" id="remorques-link"> Remorques </div>
      </div>
      <div class="col-lg-2 col-sm-2 d-none d-lg-block mx-auto">
        <div class= "subcategories-link" type="button" data-bs-toggle="collapse" data-bs-target="#accessoires" aria-expanded="false" aria-controls="accessoires" id="accessoires-link"> Accessoires </div>
      </div>
      <div class="col-lg-2 col-sm-2 d-none d-lg-block mx-auto">
        <div class= "subcategories-link" type="button" data-bs-toggle="collapse" data-bs-target="#atelier" aria-expanded="false" aria-controls="atelier" id="atelier-link"> Atelier Soumat</div>
      </div>
      <div class="col-lg-2 col-sm-2 d-none d-lg-block mx-auto">
        <div class= "subcategories-link" type="button" data-bs-toggle="collapse" data-bs-target="#roulez-en-regle" aria-expanded="false" aria-controls="roulez-en-regle" id="roulez-en-regle-link"> Roulez en règle </div>
      </div>
      <div class="col-lg-2 col-sm-2 d-none d-lg-block mx-auto">
        <div class= "subcategories-link" type="button" data-bs-toggle="collapse" data-bs-target="#question" aria-expanded="false" aria-controls="question" id="question-link"> Une question? </div>
      </div>
      <div class="col-1 col-lg-1 d-none d-lg-block"></div>
    </div>
  </div>
</nav>


<div class="collapse categories" id="remorques">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Remorques', trailers_products_path, class: 'subcategory-link'%>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Bagagères', luggage_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Nautiques', water_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to "Transport d'animaux", animals_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Espaces verts', garden_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Bennes', bin_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Porte-voiture', moto_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Porte-voiture', car_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Porte-engin', truck_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Remorques plateau', trail_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Remorques fourgon', close_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Remorques magasin', market_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse categories" id="accessoires">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Électricité', wires_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Attelages', lockers_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Essieux', sticks_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Roues', wheels_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Suspensions / renforts', suspensions_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Bâches', sheets_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse categories" id="atelier">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'maintenance', maintenance_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Réglages', set_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Suspensions / renforts', reinforcements_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Aide à la manoeuvre', direction_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Stabilisation', stabilisation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'installations', installations_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'installation électrique', wire_installation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to "installations d'essieux", stick_installation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'équipements de stabilité', stabilisation_installation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'installations de suspensions', reinforcements_installation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to "installations d'attelages", locker_installation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to "installations d'aide à la manoeuvre", direction_installation_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse categories" id="roulez-en-regle">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'documents', documents_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-3 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Immatriculations', plate_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-3 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Contrôle technique', technical_control_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-3 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Assurances', insurrance_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse categories" id="question">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'documents', documents_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-3 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Immatriculations', plate_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-3 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Contrôle technique', technical_control_products_path, class: 'subcategory-link' %>
        </div>
      </div>
      <div class="col-lg-3 mx-auto">
        <div class="card card-body subcategory">
          <%= link_to 'Assurances', insurrance_products_path, class: 'subcategory-link' %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $("#remorques-link").hover(function(){
      $("#remorques").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires-link").hover(function(){
      $("#accessoires").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#atelier-link").hover(function(){
      $("#atelier").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#roulez-en-regle-link").hover(function(){
      $("#roulez-en-regle").show();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#question-link").hover(function(){
      $("#question").show();
    });
  });
</script>

<script>
  $(document).ready(function(){
    $("#remorques").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#atelier").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#roulez-en-regle").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#question").on({
      mouseleave: function(){
        $(this).hide();
      },
    });
  });
</script>


<script>
  $(document).ready(function(){
    $("#remorques-link").hover(function(){
      $("#accessoires").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires-link").hover(function(){
      $("#remorques").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#atelier-link").hover(function(){
      $("#accessoires").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#accessoires-link").hover(function(){
      $("#atelier").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#roulez-en-regle-link").hover(function(){
      $("#atelier").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#atelier-link").hover(function(){
      $("#roulez-en-regle").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#roulez-en-regle-link").hover(function(){
      $("#question").hide();
    });
  });
</script>
<script>
  $(document).ready(function(){
    $("#question-link").hover(function(){
      $("#roulez-en-regle").hide();
    });
  });
</script>


<div class="modal fade" id="triggers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filtres</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'shared/filter' %>
      </div>
    </div>
  </div>
</div>


