<div class="navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_crop,g_center,h_120,w_250/v1643388825/Portfolio/soumat_logo_blanc.png' %>
        <% end %>
      </div>
      <div class="col-lg-6">
        <div class="navbar-search"></div>
      </div>

      <div class="col-lg-3">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <% if user_signed_in? %>
          <div class="user-area">
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        <% else %>
          <div class="user-area">
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
            <%= link_to "Login", new_user_session_path, class: "login" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="conseil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Les conseils de soumat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        blablabla
      </div>
    </div>
  </div>
</div>
