<div class="navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-9 col-md-2 col-lg-3">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_crop,g_center,h_120,w_250/v1643388825/Portfolio/soumat_logo_blanc.png' %>
        <% end %>
      </div>
      <div class="col-md-6 col-lg-6 d-none d-md-block">
        <div class="navbar-search "></div>
      </div>

      <div class="col-6 col-sm-3 col-md-4 col-lg-3">
        <% if user_signed_in? %>
          <div class="user-area">
            <i class="fas fa-comment-alt" data-bs-toggle="modal" data-bs-target="#conseil"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        <% else %>
          <div class="user-area">
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
            <%= link_to "Login", new_user_session_path, class: "login" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="conseil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Les conseils de soumat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Une remorque peut s’avérer indispensable si vous faites des travaux chez vous, que vous déménagez ou que vous partez en vacances. Mais son choix ne doit pas se faire à la légère ! Dimensions, poids, système de freinage… de nombreux critères sont à prendre en compte. SOUMAT vous guide dans l’achat de la remorque idéale pour répondre à vos besoins.
        QUELLE REMORQUE CHOISIR EN FONCTION DE SES BESOINS ?
        Avant toute chose, rappelez-vous que pour pouvoir tracter une remorque, votre véhicule doit obligatoirement être équipé d’un attelage. Retrouvez ici tous nos conseils pour choisir votre attelage.

        Ensuite, posez-vous les bonnes questions. A quoi servira la remorque ? L’utilisez-vous régulièrement, ou plutôt de manière ponctuelle ? Ce sont les réponses à ces questions qui guideront votre choix.

        Plusieurs critères sont à prendre en compte pour déterminer le modèle idéal.

        CRITÈRE N°1 : LE TYPE DE REMORQUE
        Vous ne le savez peut-être pas, mais il existe bel et bien plusieurs types de remorques, chacune étant adaptée à une utilisation bien spécifique. Que vous souhaitiez acheter une remorque pour jardiner, pour voyager ou encore pour transporter des charges lourdes de manière occasionnelle (des meubles, par exemple), vous ne choisirez pas le même type de remorque.

        Les différentes remorques existantes sur le marché sont :

        La remorque bagagère. C’est la remorque la plus légère, elle est idéale pour transporter des bagages lorsque vous partez en vacances.
        La remorque van. Elle est adaptée au transport des animaux (souvent des chevaux), elle est donc beaucoup plus grande. Néanmoins, il en existe différentes tailles, en fonction par exemple du nombre d’animaux transportés.
        Remorque motoLa remorque moto. Comme son nom l’indique, elle est dédiée au transport d’une ou plusieurs motos. Il existe également des remorques porte-vélo, porte-bateau, porte-quad ou porte-motocross. D’autres, beaucoup plus grandes, peuvent également transporter une ou plusieurs voitures.
        La remorque polyvalente. Si vous avez l’intention d’utiliser votre remorque dans des situations différentes, celle-ci est faite pour vous. Elle est par exemple adaptée aux travaux de jardin ou de construction. Elle peut servir pour transporter des déchets verts, des matériaux types bois ou carton etc. De plus, ces remorques possèdent des ridelles basculantes, c’est-à-dire que vous pouvez faire basculer un ou plusieurs bords pour décharger plus facilement votre chargement. Si vous transportez du sable, par exemple, cela peut s’avérer très pratique.
        CRITÈRE N°2 : LES DIMENSIONS
        Remorque erka 418Là aussi, cela dépendra de votre utilisation. Ainsi, une remorque de petite dimension suffira si vous ne souhaitez transporter que des bagages ou des objets peu encombrants. Par exemple, la remorque Erka 418 mesure 87×105 cm.

        Le litrage peut également vous donner une idée de la contenance de la remorque. Mais si vous devez transporter des objets assez encombrants, fiez-vous surtout aux indications de largeur et de longueur.

        Enfin, regardez aussi la dimension des roues. En effet, si les roues de votre remorque sont de même dimension que les roues de votre véhicule, l’ensemble n’en sera que plus stable. De plus, cela peut vous aider à limiter votre consommation énergétique.

        CRITÈRE N°3 : LE POIDS
        En même temps que la dimension, il vous faudra vérifier aussi le poids que peut supporter la remorque. Voici quelques notions qu’il est utile de connaître en amont :

        Le PV ou poids à vide est le poids de la remorque sans aucun chargement.
        La CU ou charge utile est la charge maximale que peut transporter la remorque.
        Le PTAC ou poids total autorisé en charge est le poids total maximal préconisé, comprenant celui de la remorque et celui du chargement. Cette information est indiquée sur la plaque d’identification de la remorque, de même que le PV et la CU.
        Le PTRA ou poids total roulant autorisé est le poids total maximal préconisé, comprenant le poids de la remorque et celui du véhicule tractant. Il est précisé sur la carte grise de votre véhicule.
        On parle de poids réel pour désigner le poids que pèse réellement la remorque chargée. Ce chiffre ne doit absolument pas dépasser le PTAC. De même, le poids réel total (véhicule tractant + conducteurs et passagers + chargement du véhicule + remorque et son chargement) ne doit en aucun cas dépasser le PTRA.

        Lorsque vous choisirez votre remorque, il est recommandé d’ajouter une marge de 20% au poids, mais aussi aux dimensions, de votre chargement. En effet, on a souvent tendance à vouloir ajouter des objets, et si la remorque que vous avez choisie s’avère trop juste, vous serez vite limité.

        CRITÈRE N°4 : ESSIEU SIMPLE OU DOUBLE ?
        Il existe des remorques avec un seul essieu, et donc deux roues, et d’autres avec un essieu double, et donc quatre roues. Pour vous aider à choisir entre les deux, voici un bref aperçu des avantages et inconvénient de chacun :

        Simple ou double essieu remorque

        Evidemment, si vous avez choisi une remorque de très petite taille, vous n’aurez pas vraiment le choix. Un simple essieu sera beaucoup plus adapté. De même, si vous choisissez une remorque de très grande taille, elle aura forcément un essieu double.

        CRITÈRE N° 5 : LE SYSTÈME DE FREINAGE
        Certaines remorques possèdent leur propre système de freinage, elles sont dites « freinées ». Ce système se déclenche de manière automatique lorsque la voiture ralentit. Au contraire, sur une remorque « non freinée », il n’y a aucun dispositif de freins. Elle ne fait que suivre le mouvement du véhicule tractant.

        L’avantage d’une remorque freinée est qu’elle offre une meilleure sécurité, notamment en cas d’accident, si la remorque se détache du véhicule. Pour ce type de remorque, il est obligatoire d’ajouter des chaînettes entre la remorque et le crochet d’attelage. Pour toutes remorques dont le PTAC dépasse 750 kg, le dispositif de freinage est obligatoire.

        PENSEZ AUX ACCESSOIRES !
        En achetant une remorque, il faut penser à tout, même aux accessoires ! Certains pourront vous être très utiles :

        La bâche sert à protéger votre chargement, notamment lorsqu’il pleut.
        Vous pouvez aussi opter pour un capot, plus encombrant mais permettant d’assurer une meilleure protection, par exemple contre le vol ;
        L’antivol ;
        La roue de secours ;
        réhausseur remorqueLes rehausses permettent d’élever les parois de la remorque. Il en existe deux sortes : les rehausses pour ridelles et les rehausses pleines. Les rehausses pour ridelles sont ajourées ou grillagées, tandis que les rehausses pleines sont totalement opaques.
        La roue jockey permet de stabiliser la remorque lorsqu’elle n’est pas attachée au véhicule.
        QUELLE RÉGLEMENTATION POUR MA REMORQUE ?
        Le code de la route prévoit quelques obligations si vous tractez une remorque. Celles-ci diffèrent en fonction du poids de la remorque, c’est pourquoi les connaître en amont pourra vous aider à faire votre choix.

        CARTE GRISE ET IMMATRICULATION
        Si le PTAC de votre remorque est supérieur à 500 kg, celle-ci doit obligatoirement avoir sa propre carte grise. Pour cela, vous devez faire une demande de certificat d’immatriculation et fournir les documents suivants : la facture d’achat de la remorque ou certificat de cession si elle est d’occasion, votre carte grise, une photocopie de votre permis de conduire et d’un justificatif de domicile. S’il s’agit d’une remorque achetée d’occasion, vous devrez sans doute fournir aussi son ancienne carte grise et un certificat de non gage.

        La remorque doit aussi obligatoirement avoir sa propre plaque d’immatriculation, bien visible.

        En revanche, si son PTAC est inférieur à 500 kg, vous n’aurez pas besoin de demander une nouvelle carte grise. La remorque devra arborer la même plaque d’immatriculation que votre voiture, bien visible là aussi.

        QUELS FEUX ?
        De nuit, votre remorque doit être visible. Le code de la route précise qu’elle doit être dotée, à l’arrière, de feux de position émettant un éclairage rouge. Elle doit aussi présenter deux catadioptres rouges de forme triangulaire.

        A l’avant, la remorque peut être dotée de feux de position émettant un éclairage blanc. Ces feux sont obligatoires si la remorque mesure plus d’1,60m de large.

        FAUT-IL PASSER UN PERMIS REMORQUE ?
        Si le PTAC de votre remorque est inférieur à 750 kg, vous aurez seulement besoin du permis B. Si le PTAC est supérieur à 750 kg mais que le total « PTAC de la remorque + PTAC du véhicule » est inférieur à 3500 kg, le permis B suffira également.

        En revanche, si cette somme se situe entre 3500 et 4520 kg, vous devrez suivre une formation appelée « B96 », qui dure sept heures. Une fois cette formation passée et l’attestation reçue, vous n’aurez pas besoin de passer un autre permis.

        Mais si la somme des PTAC est supérieure à 4250 kg, vous devrez passer le permis remorque (permis BE). Comme le permis B, cette formation peut être passée dans une auto-école et elle comprend deux épreuves : l’une théorique et l’autre pratique.

        UNE ASSURANCE POUR MA REMORQUE ?
        Si le PTAC de votre remorque est inférieur à 750 kg, elle sera certainement déjà couverte par l’assurance de votre voiture. Cependant, nous vous recommandons de poser la question à votre assurance, pour ne pas avoir de mauvaise surprise !

        Par contre, si le PTAC est supérieur à 750 kg, il faudra déclarer votre remorque auprès de votre assurance. Vous devrez alors souscrire à une assurance remorque.

        MA REMORQUE EST-ELLE SOUMISE AU CONTRÔLE TECHNIQUE ?
        Si le PTAC est supérieur à 750 kg, votre remorque devra passer le contrôle technique avant sa mise en circulation, puis tous deux les ans.

        BIEN ENTRETENIR SA REMORQUE
        Pour une meilleure sécurité, il est important d’entretenir votre remorque au mieux. Avant de prendre la route, vous devrez effectuer quelques contrôles :

        Vérifiez bien que le poids réel de votre remorque ne dépasse pas son PTAC ;
        Vérifiez que votre chargement est stable, bien arrimé, et que la répartition des charges est optimale ;
        Contrôlez l’attelage : celui-ci doit être bien fixé ;
        Si vous devez conduire de nuit, assurez-vous que les feux fonctionnent ;
        Si votre remorque est freinée, contrôlez le fonctionnement des freins ;
        Enfin, vérifiez la pression des pneus.
        Lorsque vous roulez, il est important de respecter les limitations de vitesse. Si votre PTRA est supérieur à 3500 kg, une réduction des vitesses s’applique. Vous ne devrez pas dépasser 80 km/h sur route et 90 km/h sur autoroute.

        Pensez aussi à adapter votre conduite, surtout si vous n’avez pas l’habitude de tracter une remorque ! La tenue de route est altérée avec le tractage d’une remorque, et les distances de freinages seront aussi plus longues. Ne donnez pas de coup de volant brusque et allongez vos distances de sécurité.

        Enfin, l’entretien de votre remorque doit être fait régulièrement, sur le long terme. Ainsi, pensez à huiler régulièrement votre tête d’attelage afin de limiter la corrosion.

        Les moyeux sont eux aussi très sollicités sur une remorque, il faudra également les graisser régulièrement afin d’éviter qu’ils ne s’abîment.

        Aussi, comme vous le feriez sur votre véhicule, entretenez les freins et les pneus (usure et pression) de votre remorque.

        De même, la plaque d’immatriculation doit toujours rester propre et visible. Les feux ne doivent pas non plus être négligés.
      </div>
    </div>
  </div>
</div>
