<nav class="navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-9 col-md-2 col-lg-3">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_crop,g_center,h_120,w_250/v1643388825/Portfolio/soumat_logo_blanc.png' %>
        <% end %>
      </div>
      <div class="col-md-6 col-lg-6 d-none d-lg-block">
        <%= form_tag(products_path, method: :get) do %>
          <%= text_field_tag :search, nil, class: "form-control string required", autocomplete: 'off'%>
        <% end %>
      </div>

      <div class="col-6 col-sm-3 col-md-10 col-lg-3">
        <% if user_signed_in? %>
          <div class="user-area">
            <i class="fas fa-comment-alt" data-bs-toggle="modal" data-bs-target="#conseil"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        <% else %>
          <div class="user-area">
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
            <%= link_to "Login", new_user_session_path, class: "login" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="conseil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Les conseils de soumat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Saviez-vous qu'il existe <strong>différents types de remorques? </strong>En fonction de l'application que vous voulez en faire, vous allez devoir faire un choix parmi une large gamme de remorques et de spécificités. Les remorques pour voyager, embarquer une moto ou transporter des gravats n'affichent pas nécessairement des caractéristiques techniques équivalentes. <em>Dimensions, poids, capacités de chargement, facilité d'accès, système de freinage… </em>de nombreux critères doivent être pris en compte. Pour vous aider, voici une sélection de modèles de remorques répartis par catégorie d'usage.
        De la simple remorque bagagère à la remorque plateau grande capacité en passant par le modèle utilitaire, vous allez être surpris de la diversité des modèles disponibles à la vente. Sachez également qu'acquérir une remorque suppose de respecter une réglementation stricte. Par exemple, une remorque dont le poids total autorisé en charge (PTAC) est supérieur à 500 kg doit posséder sa propre carte grise. Pour certains modèles très imposants, le conducteur devra suivre une formation appelée « B96 ». Prenez donc le temps de bien vous renseigner avant de faire votre choix !

        <h5>la remorque bagagère</h5>
        Vous cherchez une remorque suffisamment volumineuse pour transporter vos bagages ou quelques matériaux ? La remorque bagagère est le modèle qu’il vous faut. À la fois pratique, compact et assez simple à manipuler, ce type de remorque se distingue par sa facilité de chargement ainsi que par sa légèreté. Bref, c’est la remorque idéale pour les amateurs de voyages, de bricolage ou de jardinage.

        <h5>la remorque moto simple rail</h5>
        Attelée à votre voiture, cette remorque vous permet de transporter une ou plusieurs motos (simple ou double rail). Le chargement s’effectue au moyen d’une rampe que le conducteur utilise pour monter sa moto sur la remorque avant de l’attacher solidement. Selon les modèles, le pilote peut même monter son véhicule sur la remorque en restant sur la moto ! Parfait pour emporter sa moto à l’autre bout de la France !

        <h5>La remorque fourgon ou bâchée</h5>
        La remorque fourgon est composée de cloisons bâchées ou rigides. Ce système permet de protéger totalement les marchandises transportées. La majorité des modèles sont équipés d’un hayon de chargement ou d’un pont basculant. À savoir que certaines remorques fourgons haut de gamme sont également dotées d’une porte d’accès latérale...

        <h5>La remorque plateau</h5>
        Ultra polyvalentes, les remorques plateau permettent de transporter de nombreuses marchandises volumineuses : déchets verts, cartons, matériaux… Bref, c’est un peu la remorque à tout faire ! Pour le chargement, certains modèles sont basculants tandis que d’autres sont équipés de rails. Il vous suffit alors d’un simple diable pour monter vos marchandises.

        <h5>La remorque utilitaire espaces verts</h5>
        À la différence de la remorque bagagère qui reste relativement basse, la remorque spécialement conçue pour transporter les déchets verts est rehaussée d’un grillage. Le but ? Éviter la dissémination des végétaux et autres gravats sur la route et décupler les capacités de chargement. Ce type de remorque utilitaire convient parfaitement aux jardiniers et aux bricoleurs qui vont régulièrement à la déchetterie.

        <strong>Quelle remorque puis-je tirer avec ma voiture ?</strong>
        En France, les détenteurs du permis B peuvent légalement tracter une remorque dont le poids total autorisé en charge (PTAC) n'excède pas 750 kg. Au-delà, le permis sera également suffisant si les PTAC de la voiture et de la remorque additionnés sont inférieurs à 3 500 kg. Astuce : le PTAC de votre véhicule est indiqué sur votre carte grise (mention F2). Si la somme des PTAC est comprise entre 3 500 et 4 250 kg, vous allez devoir suivre la formation dite « B96 » qui dure 7 heures. Pour les PTAC voiture et remorque supérieurs à 4 250 kg, le permis BE est obligatoire.

        <strong>Quid de l'assurance ?</strong>
        Là encore, le PTAC de la remorque est déterminant ! Si celui-ci est inférieur à 750 kg, votre assurance voiture couvre probablement votre remorque. Mais, pour éviter toute mauvaise surprise, il convient toutefois de s'en assurer avant de prendre la route ! Pour les modèles dont le PTAC est supérieur à 750 kg, il est nécessaire de souscrire un contrat d'assurance spécifique. À noter également qu'une remorque de ce poids doit aussi passer le contrôle technique avant mise en circulation, puis tous les deux ans.

        <strong>Comment bien attacher ma remorque ?</strong>
        Pour tracter votre future remorque, votre voiture doit nécessairement être équipée d'un système d'attelage complet. Pour rappel, un attelage se compose :

        <em>d'une boule ou rotule </em>: c'est l'élément d'accroche de la remorque au véhicule ;
        <em>d'une ferrure </em>: il s'agit de la barre fixée sur les points d'ancrage du châssis de votre voiture ;
        <em>d'un faisceau électrique </em>: il permet le raccordement électrique de la remorque et, par conséquent, le fonctionnement des feux et autres fonctionnalités électriques du modèle.

        Pour utiliser une remorque en toute sécurité, il est essentiel de savoir correctement d'atteler. Pour ce faire, vous devez soigneusement aligner votre remorque à votre véhicule de manière à faciliter l'attache. Pour cela, le conducteur doit reculer sa voiture lentement jusqu'à s'approcher le plus près possible de la remorque. C'est à cette étape que vous devez positionner le bras d'attelage de votre remorque au-dessus de la boule et le descendre jusqu'à ce que l'enclenchement entre les deux éléments soit correctement effectué. Une fois la remarque attelée solidement, la roue jockey peut être relevée ou retirée. S'il s'agit d'une remorque freinée, le frein de parking doit être déverrouillé. Branchez maintenant le faisceau électrique à votre véhicule et contrôlez le bon fonctionnement des feux. Avant de prendre la route, vous devez également installer soit l'attache secondaire pour une remorque non freinée, soit le câble de sécurité pour une remorque freinée.

        <strong>Où trouver une remorque adaptée à ma voiture ?</strong>
        Pour acheter un modèle de remorque qui conviendra à votre véhicule, plusieurs solutions s'offrent à vous. Pour bénéficier de tarifs attractifs, vous pouvez réaliser votre achat sur une boutique en ligne. De nombreux sites comme Cdiscount ou ManoMano proposent régulièrement des offres avantageuses et des promotions qui vous permettront d'acquérir une remorque à prix mini. Si vous souhaitez obtenir des conseils et des informations plus détaillés, privilégiez plutôt les enseignes spécialisées. De nombreuses marques disposent en effet de magasins au sein desquels des conseillers pourront répondre à toutes vos questions. Certaines d'entre elles disposent également d'une offre accessible en ligne et d'un service client particulièrement développé.

        <strong>Conseils pour conduire une remorque</strong>
        La conduite d'une remorque nécessite le respect de certaines mesures de sécurité. Même les modèles les plus compacts peuvent s'avérer compliqués à manipuler lorsque l'on débute. Voici quelques conseils pour assurer votre sécurité et celle des autres :

        contrôler le matériel avant de démarrer : freins, pression des pneus, châssis de la remorque, fonctionnement des feux… ;
        bien répartir le chargement pour éviter les déséquilibres ;
        éviter les surcharges ;
        vérifier l’arrimage du chargement ;
        être attentif pendant les manœuvres, surtout en marche arrière ;
        anticiper la longueur de la remorque avant de doubler un autre véhicule ;
        réduire sa vitesse dans les descentes, les routes étroites ou en cas de trafic dense…
      </div>
    </div>
  </div>
</div>
