<header id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item banner active" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/s--cIRuKiQ5--/q_jpegmini/v1643390045/Portfolio/IMG_9850.jpg);">
      <div class="container">
        <h1>Vente et location de remorques.</h1>
        <div class="buttons">
          <%= link_to trailers_products_path do %>
            <div class="btn btn-action" >Acheter</div>
          <% end %>
          <%= link_to rent_products_path do %>
            <div class="btn btn-action" >Louer</i></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="carousel-item banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1646751949/development/nina-mercado-Y_t0n-T4H5M-unsplash.jpg);">
      <div class="container">
        <h1>Atelier d'entretien et installation d'accessoires.</h1>
        <div class="buttons">
          <%= link_to maintenance_products_path do %>
            <div class="btn btn-action" >Entretien</div>
          <% end %>
          <%= link_to accessories_products_path do %>
            <div class="btn btn-action" >Accessoires</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</header>

<section class="catalogue" id='catalogue'>
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="row">
          <div class="titles">
            <div class="title-back">Notre catalogue</div>
            <h1 class= 'title'>Notre catalogue</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-10 mx-auto">
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto shew">
                <%= link_to trailers_products_path do %>
                  <div class="category">
                    <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_south,h_450,w_300/v1646925439/production/benne.jpg', class: 'illustration' %>
                    <div class="layer"></div>
                    <div class="category-text">Ventes</div>
                  </div>
                <% end %>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto">
                <%= link_to rent_products_path do %>
                  <div class="category">
                    <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_xy_center,h_1460,w_1003,x_1060/v1643390309/Portfolio/e06dec_b6dff3cac189461183b408a733d196c9_mv2.jpg', class: 'illustration' %>
                    <div class="layer"></div>
                    <div class="category-text">Locations</div>
                  </div>
                <% end %>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto">
                <%= link_to maintenance_products_path do %>
                  <div class="category">
                    <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_west,h_360,w_300/v1646926837/production/-764-640w.jpg', class: 'illustration' %>
                    <div class="layer"></div>
                    <div class="category-text">Atelier</div>
                  </div>
                <% end %>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto">
                <%= link_to service_products_path do %>
                  <div class="category">
                    <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1646926396/production/nouvelle-carte-grise-specimen.jpg', class: 'illustration' %>
                    <div class="layer"></div>
                    <div class="category-text">Services</div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="activities">
  <div class="container">
    <div class="row">
      <div class="titles">
        <div class="title-back">Nos Nouveautés</div>
        <h1 class= 'title'>Nos Nouveautés</h1>
      </div>
    </div>
    <div class="row">
      <div id="carouselExampleSlidesOnly" class="col-lg-6 mx-auto carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="activity d-block w-100">
              <p class='proposition'><span class='colored-brand'>Installer</span> un accessoire sur votre voiture</p>
              <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643834038/development/Rectangle_19.jpg', class: 'activity-img' %>
            </div>
          </div>
          <div class="carousel-item">
            <div class="activity d-block w-100">
              <p class='proposition'><span class='colored-brand'>Louer</span> une remorque</p>
              <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643834045/development/Rectangle_20.jpg', class: 'activity-img' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 mx-auto news">
        <p>Le développement du parc automobile électrique est une bonne chose pour le climat. La puissance de ces nouveaux véhicules impose au secteur une toute nouvelle vision du remorquage, avec  notamment des produits motorisés, faits de matériaux durables, solides et légers</p>
        <div class="col-7 col-sm-6 col-md-7 col-lg-6 mx-auto">
          <div class="btn btn-newsletter" data-bs-toggle="modal" data-bs-target="#newsletter">Recevez notre newsletter <i class="fas fa-long-arrow-alt-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="favorites">
  <div class="back" style="background-image: url(https://res.cloudinary.com/da2krghvd/image/upload/v1645876752/production/nordwood-themes-KcsKWw77Ovw-unsplash.jpg); background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="titles">
          <div class="title-back">Nos favorites</div>
          <h1 class= 'title'>Nos favorites</h1>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 mx-auto">
          <div class="row">
            <% @products[0..2].each do |p|%>
              <div class="col-6 col-sm-6 col-md-6 col-lg-4 mx-auto">
                <div class="best-sales">
                  <%= link_to product_path(p) do %>
                    <div class="best-sale-card-red">
                      <div class="row">
                        <div class="col-6">
                          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_west,h_510,w_1415/v1650401714/development/Fichier_2_4x.png', class: 'left-logo' %>
                        </div>
                        <div class="col-6">
                          <p class='availability'>
                            <i class="fas fa-heart"></i>
                          </p>
                        </div>
                        <div class="col-lg-12">
                          <div class='best-sales-image'>
                            <%= cl_image_tag p.photo.key, height: 200, crop: :fit, class: 'img-fluid' %>
                          </div>
                          <p class='best-sales-name'><%= p.name %></p>
                          <p class='best-sales-category-name'><%= p.subcategory.name %></p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="white-book container">
      <h4> Spécialistes de la remorque en Aquitaine</h4>
      <div class="col-12 col-lg-8 mx-auto">
        <p>Nous disposons de remorques porte-quads, porte-motos, porte-bateaux et porte-voitures. <br>Achetez ou louez vos remorques chez Soumat Remorques.<br>

        Notre équipe vous assure ses conseils et répond à vos attentes et besoins spécifiques.<br> Grâce à notre atelier nous disposons de tout l'outillage nécessaire à la pose d'attelages, à l'entretien et la réparation.<br>
        </p>
        <p>Vous avez un projet ?</p>
      </div>
    </div>
  </div>
</section>

<section class="advices">
  <div class="container">
    <div class="row">
      <div class="titles">
        <div class="title-back">Bien choisir</div>
        <h1 class='title'>Bien choisir</h1>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
        <div class="row top">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <%= link_to pages_horses_path do %>
              <div id="second"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1646039560/production/istockphoto-157182475-170667a.jpg', class: 'second' %>
                <div class="second-layer">
                  <p class='blog-title'>Vivre sa passion</p>
                  <p class='blog colored-brand'>Concours hippiques</p>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-6 col-sm-6 col-md-5 col-lg-5">
            <%= link_to pages_holidays_path do %>
              <div id="first"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_665,w_400/v1647429192/production/lieu-de-vacances-ideal.jpg', class: 'first' %>
                <div class="first-layer">
                  <p class='blog-title'>Loisirs</p>
                  <p class='blog colored-brand'>Partir en vacances</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-5 col-lg-5">
            <%= link_to pages_constant_gardener_path do %>
              <div id="third"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1647428832/production/images.jpg', class: 'third' %>
                <div class="third-layer">
                  <p class='blog-title'>Indispensable</p>
                  <p class='blog colored-brand'>Entretenir son jardin</p>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <%= link_to pages_smart_path do %>
              <div id="fourth"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1646039504/production/bat2.jpg', class: 'fourth' %>
                <div class="fourth-layer">
                  <p class='blog-title'>Pratique</p>
                  <p class='blog colored-brand'>La cale sèche</p>
                </div>
              </div>
            <% end %>
            <div class="btn btn-blog-2" data-bs-toggle="modal" data-bs-target="#white-book">Recevez le guide de choix <i class="fas fa-long-arrow-alt-right"></i></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="witnesses">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <h4 class= 'mini-title'>Vos retours</h4>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mx-auto">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
        <div class="witness">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_face,h_450,w_450/v1643887780/development/visage_client_2.jpg', class: 'avatar-customers' %>
          <div class="comments">
            <% 4.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <h4>Des besoins multiples</h4>
            <p>Soumat m'a permis d'obtenir un chouette compromis pour les usages multiples</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
        <div class="witness">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_face,h_640,w_640/v1643887802/development/Visage_cliente.jpg', class: 'avatar-customers' %>
          <div class="comments">
            <% 5.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <h4>J'ai opté pour une location</h4>
            <p>J'ai des besoins ponctuels dans mon métier. Soumat a trouvé une solution pour moi. </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
        <div class="witness">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_face,h_640,w_640/v1643887794/development/visage_client3.jpg', class: 'avatar-customers' %>
          <div class="comments">
            <% 4.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <i class="fas fa-star-half-alt"></i>
            <h4>Un service au top</h4>
            <p>J'ai été très bien conseillé en fonction de mon permis et mes besoins, je recommande</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-2 mx-auto">
        <div class="btn btn-blog" data-bs-toggle="modal" data-bs-target="#contactez-moi">Prenons contact <i class="fas fa-long-arrow-alt-right"></i></div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="contactez-moi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulaire de contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body vip_lead">
        <%= simple_form_for @vip_lead do |f| %>
          <div class="row">
            <div class="col-4 col-lg-2">
              <%= f.association :title, label: 'Titre', required: false, class: 'vip_title' %>
            </div>
            <div class="col-8 col-lg-5">
              <%= f.input :name, label: 'Nom', required: false %>
            </div>
            <div class="col-12 col-lg-5">
              <%= f.input :surname, label: 'Prénom', required: false %>
            </div>
            <%= f.input :email, required: false %>
          </div>
          <div class="row">
            <div class="col-9 col-lg-10"></div>
            <div class="col-3 col-lg-2">
              <%= f.button :submit,'valider', class: 'btn btn-flat' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newsletter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recevez notre newsletter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body lead">
        <%= simple_form_for @newsletter_lead do |f| %>
          <%= f.input :email, required: false %>
          <%= f.button :submit,'valider', class: 'btn btn-flat right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="white-book" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recevez notre guide de choix</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body lead">
        <%= simple_form_for @white_book_lead do |f| %>
          <%= f.input :email, required: false %>
          <%= f.button :submit,'valider', class: 'btn btn-flat right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
