<header id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item banner active" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1643389443/Portfolio/fabien-bazanegue-ttitlm7NGpQ-unsplash_1.jpg);">
      <div class="container">
        <h1 id="soumat">SOUMAT</h1>
        <h1>Vente et location de remorques.</h1>
        <a class="btn btn-flat" href="#catalogue">En savoir plus <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
    <div class="carousel-item banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1643390045/Portfolio/IMG_9850.jpg);">
      <div class="container">
        <h1 id="soumat">SOUMAT</h1>
        <h1>Atelier d'entretien et installation d'accessoires.</h1>
        <a class="btn btn-flat" href="#catalogue">En savoir plus <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
    <div class="carousel-item banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1643390309/Portfolio/e06dec_b6dff3cac189461183b408a733d196c9_mv2.jpg">
      <div class="container">
        <h1 id="soumat">SOUMAT</h1>
        <h1>Services administratifs, conseils.</h1>
        <a class="btn btn-flat" href="#catalogue">En savoir plus <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</header>

<section class="catalogue" id='catalogue'>
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="row">
          <div class="titles">
            <div class="title-back">Notre catalogue</div>
            <h1 class= 'title'>Notre catalogue</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-10 mx-auto">
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto shew">
                <%= link_to products_path do %>
                  <div class="category">
                    <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_789,w_544/v1643389443/Portfolio/fabien-bazanegue-ttitlm7NGpQ-unsplash_1.jpg', class: 'illustration' %>
                    <div class="layer"></div>
                    <div class="category-text">Ventes</div>
                  </div>
                <% end %>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto">
                <%= link_to rent_products_path do %>
                  <div class="category">
                    <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_xy_center,h_1278,w_878,x_1528/v1643390202/Portfolio/Screenshot-100.png', class: 'illustration' %>
                    <div class="layer"></div>
                    <div class="category-text">Locations</div>
                  </div>
                <% end %>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto">
                <%= link_to maintenance_products_path do %>
                  <div class="category">
                    <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_center,h_320,w_220/v1643834038/development/Rectangle_19.jpg', class: 'illustration' %>
                    <div class="layer"></div>
                    <div class="category-text">Atelier</div>
                  </div>
                <% end %>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto">
                <%= link_to service_products_path do %>
                  <div class="category">
                    <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_xy_center,h_1460,w_1003,x_1060/v1643390309/Portfolio/e06dec_b6dff3cac189461183b408a733d196c9_mv2.jpg', class: 'illustration' %>
                    <div class="layer"></div>
                    <div class="category-text">Services</div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="trailers">
  <div class="container">
    <div class="row">
      <div class="titles">
        <div class="title-back">Nos Activités</div>
        <h1 class= 'title'>Nos Activités</h1>
      </div>
    </div>
    <div class="row">
      <div id="carouselExampleSlidesOnly" class="col-lg-6 mx-auto carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="activity d-block w-100">
              <p class='proposition'><strong>Installer</strong> un accessoire sur votre voiture</p>
              <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643834038/development/Rectangle_19.jpg', class: 'activity-img' %>
            </div>
          </div>
          <div class="carousel-item">
            <div class="activity d-block w-100">
              <p class='proposition'><strong>Louer</strong> une remorque</p>
              <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643834045/development/Rectangle_20.jpg', class: 'activity-img' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="favorites">
  <div class="container">
    <div class="row">
      <div class="titles">
        <div class="title-back">Nos favorites</div>
        <h1 class= 'title'>Nos favorites</h1>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 mx-auto">
            <div class="best-sales">
              <%= link_to product_path(@products[0]) do %>
                <div class="best-sale-card">
                  <div class="row">
                    <div class="col-12">
                      <p class='availaibility'>
                        11 produits disponibles
                        <i class="fas fa-heart"></i>
                      </p>
                      <p class='best-sales-price'><%= @products[0].price %> E</p>
                    </div>
                  </div>
                  <%= cl_image_tag @products[0].photo.key, class: 'img-fluid best-sales-image' %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 mx-auto">
            <div class="best-sales">
              <%= link_to product_path(@products[1]) do %>
                <div class="best-sale-card-green">
                  <div class="row">
                    <div class="col-12">
                      <p class='availaibility'>
                        11 produits disponibles
                        <i class="fas fa-heart"></i>
                      </p>
                      <p class='best-sales-price'><%= @products[1].price %> E</p>
                    </div>
                  </div>
                  <%= cl_image_tag @products[1].photo.key, class: 'img-fluid best-sales-image' %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 mx-auto">
            <div class="best-sales">
              <%= link_to product_path(@products[2]) do %>
                <div class="best-sale-card-brown">
                  <div class="row">
                    <div class="col-12">
                      <p class='availaibility'>
                        11 produits disponibles
                        <i class="fas fa-heart"></i>
                      </p>
                      <p class='best-sales-price'><%= @products[2].price %> E</p>
                    </div>
                  </div>
                  <%= cl_image_tag @products[2].photo.key, class: 'img-fluid best-sales-image' %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 mx-auto">
            <div class="best-sales">
              <%= link_to product_path(@products[3]) do %>
                <div class="best-sale-card">
                  <div class="row">
                    <div class="col-12">
                      <p class='availaibility'>
                        11 produits disponibles
                        <i class="fas fa-heart"></i>
                      </p>
                      <p class='best-sales-price'><%= @products[3].price %> E</p>
                    </div>
                  </div>
                  <%= cl_image_tag @products[3].photo.key, class: 'img-fluid best-sales-image' %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 mx-auto">
            <div class="best-sales">
              <%= link_to product_path(@products[4]) do %>
                <div class="best-sale-card">
                  <div class="row">
                    <div class="col-12">
                      <p class='availaibility'>
                        11 produits disponibles
                        <i class="fas fa-heart"></i>
                      </p>
                      <p class='best-sales-price'><%= @products[4].price %> E</p>
                    </div>
                  </div>
                  <%= cl_image_tag @products[4].photo.key, class: 'img-fluid best-sales-image' %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-4 mx-auto">
            <div class="best-sales">
              <%= link_to product_path(@products[5]) do %>
                <div class="best-sale-card-green">
                  <div class="row">
                    <div class="col-12">
                      <p class='availaibility'>
                        11 produits disponibles
                        <i class="fas fa-heart"></i>
                      </p>
                      <p class='best-sales-price'><%= @products[5].price %> E</p>
                    </div>
                  </div>
                  <%= cl_image_tag @products[5].photo.key, class: 'img-fluid best-sales-image' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='white-book'>
  <div class="container">
    <h4>Choisissez en toute confiance</h4>
    <p>Téléchargez notre guide de choix</p>
    <div class="btn btn-flat">Téléchargez</div>
  </div>
</section>

<section class="advices">
  <div class="container">
    <div class="row">
      <div class="titles">
        <div class="title-back">Bien choisir</div>
        <h1 class='title'>Bien choisir</h1>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
        <div class="row top">
          <div class="col-6 col-sm-6 col-md-5 col-lg-5">
            <div id="first"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643830609/development/unsplash_rzTEsx2tcjQ.jpg', class: 'first' %>
              <p class='blog-title'>Loisirs</p>
              <p class='blog'>Partir en vacances</p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <div class="btn btn-blog">Blog <i class="fas fa-long-arrow-alt-right"></i></div>
            <div id="second"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643830602/development/unsplash_iAkrGOkBaco.jpg', class: 'second' %>
              <p class='blog-title'>Vivre sa passion</p>
              <p class='blog'>Concours hippiques</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <div id="fourth"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643830595/development/unsplash_CfhtS2nj95c.jpg', class: 'fourth' %>
              <p class='blog-title'>Pratique</p>
              <p class='blog'>La cale sèche</p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-5 col-lg-5">
            <div id="third"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643830589/development/unsplash_BnXGBpGy-bQ.png', class: 'third' %>
              <p class='blog-title'>Indispensable</p>
              <p class='blog'>Entretenir son jardin</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='white-book'>
  <div class="container">
    <h4>Choisissez en toute confiance</h4>
    <p>Téléchargez notre guide de choix</p>
    <div class="btn btn-flat">Téléchargez</div>
  </div>
</section>

<section class="trailers">
  <div class="container">
    <div class="row">
      <div class="titles">
        <div class="title-back">Nous connaître</div>
        <h1 class= 'title'>Nous connaître</h1>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="box-2">
              <div id="button-2">Notre parc <i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card-image-illustration">
              <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643876988/development/remorque_sport_loisirs.png', class: 'img-fluid ' %>
              <div class="chevron"><i class="fas fa-chevron-right"></i></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-7">
            <div id="card-text">
              <p><span class="colored">Spécialistes</span> de la remorque depuis <span class="colored">plus de 45 ans</span>. Des gammes complètes neuves et d'occasion sont à votre disposition sur <span class="colored">notre parc d'exposition.</span> Spécialistes de la pose d'attelage sur voitures et utilitaires. Découvrez toute notre <span class="colored">large gamme de pièces détachées</span> de grandes marques.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-5">
            <div class="box">
              <div id="button">Vous avez un projet <i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="witnesses">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <h4 class= 'mini-title'>Vos retours</h4>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mx-auto">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
        <div class="witness">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_face,h_450,w_450/v1643887780/development/visage_client_2.jpg', class: 'avatar-customers' %>
          <div class="comments">
            <% 4.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <h4>Des besoins multiples</h4>
            <p>Soumat m'a permis d'obtenir un chouette compromis pour les usages multiples</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
        <div class="witness">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_face,h_640,w_640/v1643887802/development/Visage_cliente.jpg', class: 'avatar-customers' %>
          <div class="comments">
            <% 5.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <h4>J'ai opté pour une location</h4>
            <p>J'ai des besoins ponctuels dans mon métier. Soumat a trouvé une solution pour moi. </p>
          </div>

        </div>
      </div>
      <div class="col-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
        <div class="witness">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_face,h_640,w_640/v1643887794/development/visage_client3.jpg', class: 'avatar-customers' %>
          <div class="comments">
            <% 4.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <i class="fas fa-star-half-alt"></i>
            <h4>Un service au top</h4>
            <p>J'ai été très bien conseillé en fonction de mon permis et mes besoins, je recommande</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
