<header id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item banner active" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/s--cIRuKiQ5--/q_jpegmini/v1643390045/Portfolio/IMG_9850.jpg);">
      <div class="container">
        <h1>Vente et location de remorques.</h1>
        <%= link_to trailers_products_path do %>
          <div class="btn btn-action" >En savoir plus <i class="fas fa-long-arrow-alt-right"></i></div>
        <% end %>
      </div>
    </div>
    <div class="carousel-item banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1646751949/development/nina-mercado-Y_t0n-T4H5M-unsplash.jpg);">
      <div class="container">
        <h1>Atelier d'entretien et installation d'accessoires.</h1>
        <%= link_to maintenance_products_path do %>
          <div class="btn btn-action">En savoir plus <i class="fas fa-long-arrow-alt-right"></i></div>
        <% end %>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</header>

<section class="catalogue" id='catalogue'>
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="row">
          <div class="titles">
            <div class="title-back">Notre catalogue</div>
            <h1 class= 'title'>Notre catalogue</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-10 mx-auto">
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto shew">
                <%= link_to trailers_products_path do %>
                  <div class="category">
                    <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_south,h_450,w_300/v1646925439/production/benne.jpg', class: 'illustration' %>
                    <div class="layer"></div>
                    <div class="category-text">Ventes</div>
                  </div>
                <% end %>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto">
                <%= link_to rent_products_path do %>
                  <div class="category">
                    <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_xy_center,h_1460,w_1003,x_1060/v1643390309/Portfolio/e06dec_b6dff3cac189461183b408a733d196c9_mv2.jpg', class: 'illustration' %>
                    <div class="layer"></div>
                    <div class="category-text">Locations</div>
                  </div>
                <% end %>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto">
                <%= link_to maintenance_products_path do %>
                  <div class="category">
                    <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_west,h_360,w_300/v1646926837/production/-764-640w.jpg', class: 'illustration' %>
                    <div class="layer"></div>
                    <div class="category-text">Atelier</div>
                  </div>
                <% end %>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto">
                <%= link_to service_products_path do %>
                  <div class="category">
                    <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1646926396/production/nouvelle-carte-grise-specimen.jpg', class: 'illustration' %>
                    <div class="layer"></div>
                    <div class="category-text">Services</div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="back" style="background-image: url(https://res.cloudinary.com/da2krghvd/image/upload/v1645876752/production/nordwood-themes-KcsKWw77Ovw-unsplash.jpg); background-size: cover;">
  <section class="activities">
    <div class="container">
      <div class="row">
        <div class="titles">
          <div class="title-back">Nos Activités</div>
          <h1 class= 'title'>Nos Activités</h1>
        </div>
      </div>
      <div class="row">
        <div id="carouselExampleSlidesOnly" class="col-lg-6 mx-auto carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="activity d-block w-100">
                <p class='proposition'><strong><span class='colored'>Installer</span> un accessoire sur votre voiture</strong></p>
                <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643834038/development/Rectangle_19.jpg', class: 'activity-img' %>
              </div>
            </div>
            <div class="carousel-item">
              <div class="activity d-block w-100">
                <p class='proposition'><strong><span class='colored'>Louer</span> une remorque</strong></p>
                <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643834045/development/Rectangle_20.jpg', class: 'activity-img' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="favorites">
  <div class="container">
    <div class="row">
      <div class="titles">
        <div class="title-back"><span class='colored'>Nos favorites</span></div>
        <h1 class= 'title'>Nos favorites</h1>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto">
            <div class="best-sales">
              <%= link_to product_path(@products[0]) do %>
                <div class="best-sale-card-red">
                  <div class="row">
                    <div class="col-12">
                      <p class='availability'>
                        <i class="fas fa-heart"></i>
                      </p>
                      <div class='best-sales-image'>
                        <%= cl_image_tag @products[0].photo.key, height: 200, crop: :fit, class: 'img-fluid' %>
                      </div>
                      <p class='best-sales-name'><%= @products[0].name %></p>
                      <p class='best-sales-category-name'><%= @products[0].subcategory.name %></p>
                    </div>
                  </div>

                </div>
              <% end %>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto">
            <div class="best-sales">
              <%= link_to product_path(@products[3]) do %>
                <div class="best-sale-card-red">
                  <div class="row">
                    <div class="col-12">
                      <p class='availability'>
                        <i class="fas fa-heart"></i>
                      </p>
                      <div class='best-sales-image'>
                        <%= cl_image_tag @products[3].photo.key, height: 200, crop: :fill, class: 'img-fluid' %>
                      </div>
                      <p class='best-sales-name'><%= @products[3].name %></p>
                      <p class='best-sales-category-name'><%= @products[3].subcategory.name %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 mx-auto">
            <div class="best-sales">
              <%= link_to product_path(@products[2]) do %>
                <div class="best-sale-card-red">
                  <div class="row">
                    <div class="col-12">
                      <p class='availability'>
                        <i class="fas fa-heart"></i>
                      </p>
                      <div class='best-sales-image'>
                        <%= cl_image_tag @products[2].photo.key, height: 200, crop: :fill, class: 'img-fluid' %>
                      </div>
                      <p class='best-sales-name'><%= @products[2].name %></p>
                      <p class='best-sales-category-name'><%= @products[2].subcategory.name %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="white-book container">
    <h4>Choisissez en toute confiance</h4>
    <p>Téléchargez notre guide de choix</p>
    <div class="btn btn-flat">Téléchargez</div>
  </div>
  <div class="container">
    <div class="row">
      <div class="titles">
        <div class="title-back"><span class='colored'>Nous connaître</span></div>
        <h1 class= 'title'>Nous connaître</h1>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="box-2">
              <div id="button-2">Notre parc <i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card-image-illustration">
              <iframe width="460" height="460" class='img-fluid' src="https://www.youtube.com/embed/sp79xE41Q7U" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-7">
            <div id="card-text">
              <p><span class="colored">Spécialistes</span> de la remorque depuis <span class="colored">plus de 45 ans</span>. Des gammes complètes neuves et d'occasion sont à votre disposition sur <span class="colored">notre parc d'exposition.</span> Spécialistes de la pose d'attelage sur voitures et utilitaires. Découvrez toute notre <span class="colored">large gamme de pièces détachées</span> de grandes marques.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-5">
            <div class="box">
              <div id="button">Vous avez un projet <i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="advices">
  <div class="container">
    <div class="row">
      <div class="titles">
        <div class="title-back">Bien choisir</div>
        <h1 class='title'>Bien choisir</h1>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
        <div class="row top">
          <div class="col-6 col-sm-6 col-md-5 col-lg-5">
            <div id="first"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643830609/development/unsplash_rzTEsx2tcjQ.jpg', class: 'first' %>
              <p class='blog-title'>Loisirs</p>
              <p class='blog'>Partir en vacances</p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <%= link_to pages_articles_path do %>
              <div class="btn btn-blog">Articles <i class="fas fa-long-arrow-alt-right"></i></div>
            <% end %>
            <div id="second"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643830602/development/unsplash_iAkrGOkBaco.jpg', class: 'second' %>
              <p class='blog-title'>Vivre sa passion</p>
              <p class='blog'>Concours hippiques</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <div id="fourth"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643830595/development/unsplash_CfhtS2nj95c.jpg', class: 'fourth' %>
              <p class='blog-title'>Pratique</p>
              <p class='blog'>La cale sèche</p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-5 col-lg-5">
            <div id="third"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643830589/development/unsplash_BnXGBpGy-bQ.png', class: 'third' %>
              <p class='blog-title'>Indispensable</p>
              <p class='blog'>Entretenir son jardin</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="witnesses">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <h4 class= 'mini-title'>Vos retours</h4>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mx-auto">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
        <div class="witness">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_face,h_450,w_450/v1643887780/development/visage_client_2.jpg', class: 'avatar-customers' %>
          <div class="comments">
            <% 4.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <h4>Des besoins multiples</h4>
            <p>Soumat m'a permis d'obtenir un chouette compromis pour les usages multiples</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
        <div class="witness">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_face,h_640,w_640/v1643887802/development/Visage_cliente.jpg', class: 'avatar-customers' %>
          <div class="comments">
            <% 5.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <h4>J'ai opté pour une location</h4>
            <p>J'ai des besoins ponctuels dans mon métier. Soumat a trouvé une solution pour moi. </p>
          </div>

        </div>
      </div>
      <div class="col-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
        <div class="witness">
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_fill,g_face,h_640,w_640/v1643887794/development/visage_client3.jpg', class: 'avatar-customers' %>
          <div class="comments">
            <% 4.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <i class="fas fa-star-half-alt"></i>
            <h4>Un service au top</h4>
            <p>J'ai été très bien conseillé en fonction de mon permis et mes besoins, je recommande</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
