<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item banner active" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1643389443/Portfolio/fabien-bazanegue-ttitlm7NGpQ-unsplash_1.jpg);">
      <div class="container">
        <h1 id="soumat">SOUMAT</h1>
        <h1>ARC REMORQUES AQUITAINES</h1>
        <p>Remorques utilitaires, de tourismes, attelages...</p>
        <a class="btn btn-flat" href="#">En savoir plus <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
    <div class="carousel-item banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1643390045/Portfolio/IMG_9850.jpg);">
      <div class="container">
        <h1 id="soumat">SOUMAT</h1>
        <h1>ARC REMORQUES AQUITAINES</h1>
        <p>Entretien, installations, accessoires.</p>
        <a class="btn btn-flat" href="#">En savoir plus <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
    <div class="carousel-item banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1643390309/Portfolio/e06dec_b6dff3cac189461183b408a733d196c9_mv2.jpg">
      <div class="container">
        <h1 id="soumat">SOUMAT</h1>
        <h1>ARC REMORQUES AQUITAINES</h1>
        <p>Services administratifs, conseils.</p>
        <a class="btn btn-flat" href="#">En savoir plus <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="catalogue">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="filters d-none d-lg-block"></div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="titles">
            <div class="title-back">Catalogue</div>
            <h1 class= 'title'>Catalogue</h1>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mx-auto">
            <div class="category">
              <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643390309/Portfolio/e06dec_b6dff3cac189461183b408a733d196c9_mv2.jpg', class: 'illustration' %>
              <div class="category-text">Remorques</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mx-auto">
            <div class="category">
              <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643390202/Portfolio/Screenshot-100.png', class: 'illustration' %>
              <div class="category-text">Accessoires</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mx-auto">
            <div class="category">
              <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643390045/Portfolio/IMG_9850.jpg', class: 'illustration' %>
              <div class="category-text">Entretien</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mx-auto">
            <div class="category">
              <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643389443/Portfolio/fabien-bazanegue-ttitlm7NGpQ-unsplash_1.jpg', class: 'illustration' %>
              <div class="category-text">Installation</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mx-auto">
            <div class="category">
              <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643443214/Portfolio/36a0f88b712e99312adb91877b236258.jpg', class: 'illustration' %>
              <div class="category-text">Administratif</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mx-auto">
            <div class="category">
              <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643443256/Portfolio/6-Top-4x4-Trailers-offroadsociety5.jpg', class: 'illustration' %>
              <div class="category-text">Conseils</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="favorites">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto">
      </div>
    </div>
    <div class="row">
      <div class="titles">
        <div class="title-back">Les plus vendues</div>
        <h1 class= 'title'>Les plus vendues</h1>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
            <div class="best-sales">
              <div class="best-sale-card"></div>
              <div class="btn btn-brand">Découvrir</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
            <div class="best-sales">
              <div class="best-sale-card"></div>
              <div class="btn btn-brand">Découvrir</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
            <div class="best-sales">
              <div class="best-sale-card"></div>
              <div class="btn btn-brand">Découvrir</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
            <div class="best-sales">
              <div class="best-sale-card"></div>
              <div class="btn btn-brand">Découvrir</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
            <div class="best-sales">
              <div class="best-sale-card"></div>
              <div class="btn btn-brand">Découvrir</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
            <div class="best-sales">
              <div class="best-sale-card"></div>
              <div class="btn btn-brand">Découvrir</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
            <div class="best-sales">
              <div class="best-sale-card"></div>
              <div class="btn btn-brand">Découvrir</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
            <div class="best-sales">
              <div class="best-sale-card"></div>
              <div class="btn btn-brand">Découvrir</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="advices">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto">
      </div>
    </div>
    <div class="row">
      <h1 class= 'title'>Bien choisir... nos conseils</h1>
      <div class="col-lg-2 mx-auto d-none d-lg-block"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
        <div class="row top">
          <div class="d-none d-md-block col-md-1 col-lg-1"></div>
          <div class="col-6 col-sm-6 col-md-5 col-lg-5">
            <div id="first"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643443256/Portfolio/6-Top-4x4-Trailers-offroadsociety5.jpg', class: 'first'  %></div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <div id="second"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643443256/Portfolio/6-Top-4x4-Trailers-offroadsociety5.jpg', class: 'second'  %></div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <div id="fourth"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643443256/Portfolio/6-Top-4x4-Trailers-offroadsociety5.jpg', class: 'fourth'  %></div>
          </div>
          <div class="col-6 col-sm-6 col-md-5 col-lg-5">
            <div id="third"><%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1643443256/Portfolio/6-Top-4x4-Trailers-offroadsociety5.jpg', class: 'third'  %></div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 mx-auto d-none d-lg-block"></div>
    </div>
  </div>
</div>

<div class="trailers">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto">
      </div>
    </div>
    <div class="row">
      <h1 class= 'title'>Nos remorques</h1>
      <div class="col-lg-2 mx-auto d-none d-lg-block"></div>
      <div class="col-lg-8 mx-auto">
        <div class="box-2">
          <div id="button-2"></div>
          <div id="card-text"></div>
          <div id="card-image"></div>
          <div id="button"></div>
        </div>
      </div>
      <div class="col-lg-2 mx-auto d-none d-lg-block"></div>
    </div>
  </div>
</div>

<div class="situation">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="map">

        </div>
      </div>
    </div>
  </div>
</div>


<div class="witnesses">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto">
        <div class="witness">

        </div>
      </div>
      <div class="col-lg-4 mx-auto">
        <div class="witness">

        </div>
      </div>
      <div class="col-lg-4 mx-auto">
        <div class="witness">

        </div>
      </div>
    </div>
  </div>
</div>
