<section class ='smart-page'>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="row">
          <h1 class='content-title'>Bien choisir sa remorque porte bateau</h1>
        </div>
        <div class="row">
          <p>Partir à la découverte de nouveaux horizons de pêche avec son bateau en remorque derrière la voiture ne manque pas d’intérêt. Cependant, cette liberté implique de prendre en compte plusieurs paramètres afin de trouver le porte-bateau le mieux adapté à votre embarcation, sans oublier son entretien et le respect de la réglementation concernant le permis de conduire.</p>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-4 col-lg-2 mx-auto">
            <div class="btn btn-blog" data-bs-toggle="modal" data-bs-target="#contactez-moi">Prenons contact <i class="fas fa-long-arrow-alt-right"></i></div>
          </div>
        </div>
        <div class="row">
          <h2 class='content-subtitle'>Quel type de remorque ?</h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <p>Chaque remorque dispose d’un PTAC (Poids Total Autorisé en Charge) et il vaut mieux garder une marge par rapport au poids lège annoncé par le constructeur du bateau car en fonction de la motorisation, du fait que le réservoir contienne du carburant ou que vous conserviez du matériel de sécurité ou de pêche à bord pendant le transport du bateau, la masse véritable à transporter sur la remorque peut rapidement croître et la remorque se trouver en surcharge. Dans ce cas, non seulement vous seriez en infraction en cas de contrôle, mais la conduite du véhicule tracteur pourrait s’avérer inconfortable et dangereuse. Aussi n’hésitez pas à prendre une marge de sécurité de 20% par rapport au poids total théorique de la coque et du moteur. Concernant la longueur de la remorque, elle doit garantir l’alignement du tableau arrière du bateau sur les derniers rouleaux de la remorque,
            </p>
          </div>
          <div class="col-lg-6">
            <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1646039504/production/bat2.jpg', class: 'img-fluid' %>
          </div>
        </div>
        <div class="row">
          <p>Dès lors que le réseau routier sera utilisé sur une grande distance, la remorque devra obligatoirement disposer d’un système de   freinage. Une remorque dont le PTAC ne dépasse pas 1 800 kg est généralement proposée avec un simple essieu, ce qui facilite les manœuvres notamment en marche arrière. Au-delà, la remorque doit être équipée d’un double essieu.

            Lorsque la pente de la cale est faible, le choix peut se porter sur une remorque dont la traverse ou le timon est basculant afin de faciliter la mise à l’eau et la sortie d’eau du bateau. Enfin, certains fabricants proposent des remorques immergeables dont les moyeux sont étanches. Cette étanchéité reste relative car avec le temps elle peut diminuer, voire disparaître, si un entretien régulier des graisseurs n’est pas effectué. Dans tous les cas, un rinçage systématique des éléments de la remorque à l’eau douce préviendra les risques de corrosion par l’eau de mer.
          </p>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 mx-auto">
            <%= link_to water_products_path do  %>
              <div class="btn btn-blog last">Voir nos porte bateau <i class="fas fa-long-arrow-alt-right"></i></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="modal fade" id="contactez-moi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulaire de contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body vip_lead">
        <%= simple_form_for @vip_lead do |f| %>
          <div class="row">
            <div class="col-4 col-lg-2">
              <%= f.association :title, label: 'Titre', required: false, class: 'vip_title' %>
            </div>
            <div class="col-8 col-lg-5">
              <%= f.input :name, label: 'Nom', required: false %>
            </div>
            <div class="col-12 col-lg-5">
              <%= f.input :surname, label: 'Prénom', required: false %>
            </div>
            <%= f.input :email, required: false %>
          </div>
          <div class="row">
            <div class="col-9 col-lg-10"></div>
            <div class="col-3 col-lg-2">
              <%= f.button :submit,'valider', class: 'btn btn-flat' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
