<div class="container product-index">
  <div class="row">
    <div class="col-lg-3">
      <div class="filters">

      </div>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-lg-3">
            <div class="product-card-shape">
              <div class="product-card">
                <div class="row">
                  <div class="col-12">
                    <p class="i-love-it">
                      <i class="far fa-heart"></i>
                    </p>
                  </div>
                </div>
                <%= cl_image_tag product.photo.key, class: 'img-fluid' %>
              </div>
              <h5 class="card-product-title">
                <%= product.subcategory.name %>
              </h5>
              <div class="card-product-caracteristics">
                <p class='caracteristic-price'><%= product.price %> E</p>
                <% if product.rent? %>
                  <p class="caracteristic">disponible à la location</p>
                <% else %>
                  <p class="caracteristic">en vente uniquement</p>
                <% end %>
                <% if product.second_hand? %>
                  <p class="caracteristic"><i class="fas fa-handshake"></i> Produit d'occasion</p>
                <% else %>
                  <p class="caracteristic"><i class="fas fa-handshake"></i> Produit neuf</p>
                <% end %>
                <p class='caracteristic'>PTAC: <%= product.max_load_weight %> kg</p>
                <p class='caracteristic'>CU: <%= product.empty_weight %>kg</p>
                <div class="btn btn-flat">Ajouter au panier</div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
