<div class="container product-index">
  <div class="row">
    <div class="col-lg-3">
      <div class="filters">

      </div>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <div class="product-card-shape">
              <div class="product-card">
                <div class="row">
                  <div class="col-12">
                    <p class="i-love-it">
                      <i class="far fa-heart"></i>
                    </p>
                  </div>
                </div>
                <%= cl_image_tag product.photo.key, class: 'img-fluid' %>
              </div>
              <p class='caracteristic-price'><%= product.price %> E</p>

              <div class="card-product-caracteristics">
                <h1 class="card-product-title">
                  <%= product.name %>
                </h1>
                <p class='caracteristic'><%= product.subcategory.name %></p>
                <p class='caracteristic'>PTAC: <%= product.empty_weight %> kg</p>
                <p class='best-caracteristic'>Idéal pour: product.caracteristic</p>
                <div class="btn btn-ghost" data-bs-toggle="modal" data-bs-target="#modal-<%= product.id %>">aperçu rapide</div>
                <div class="btn btn-flat">Acheter</div>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="modal-<%= product.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%= product.name %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="product-card">
                        <div class="row">
                          <div class="col-12">
                            <p class="i-love-it">
                              <i class="far fa-heart"></i>
                            </p>
                          </div>
                        </div>
                        <%= cl_image_tag product.photo.key, class: 'img-fluid' %>
                      </div>
                      <p><%= product.price %> E</p>
                    </div>
                    <div class="col-lg-6">
                      <%= product.subcategory.name %>
                      <%= product.document.name %>
                      <p>Les points forts
                        <% 5.times do %>
                          <i class="fas fa-star"></i>
                        <% end %>
                      <p>
                      <p>convient aux usages <%=product.usage.name %>s </p>
                      <% if product.rent? %>
                        <p class="caracteristic">disponible à la location</p>
                      <% else %>
                        <p class="caracteristic">en vente uniquement</p>
                      <% end %>
                      <% if product.second_hand? %>
                        <p class="caracteristic"><i class="fas fa-handshake"></i> Produit d'occasion</p>
                      <% else %>
                        <p class="caracteristic"><i class="fas fa-handshake"></i> Produit neuf</p>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



