<div class="product-details">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h4 class='hook'>Cette <strong><%= @product.category.name %></strong> n'attend que vous</h4>
        <div class="row">
          <div class="col-lg-6">
            <div class="main-image">
              <div class="row">
                <div class="col-lg-12">
                  <i class="fas fa-chevron-left"></i>
                  <%= cl_image_tag @product.photo.key, height: 230, width: 300, crop: :fill, class: 'img-fluid product-image' %>
                  <i class="fas fa-chevron-right"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <%= cl_image_tag @product.photo.key, height: 100, width: 133, crop: :fill, class: 'img-fluid product-image-side' %>
                </div>
                <div class="col-lg-6">
                  <%= cl_image_tag @product.photo.key, height: 100, width: 133, crop: :fill, class: 'img-fluid product-image-side' %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="description-group">
              <p class="product-description"><%= @product.name %></p>
              <p class="product-description-price"><%= @product.price %> euros</p>
              <p class="product-description">ref number: 455468584604</p>
              <% if @product.rent.present? && @product.rent? %>
                <p class="product-description">disponible à la location</p>
              <% end %>
              <div class="btn btn-flat">Ajouter au panier</div>
              <div class="btn btn-ghost">Produits similaires</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="options">
              <h4 class='hook'>Informations</h4>
              <div class="description-group">
                <div class="product-description"><i class="fas fa-weight-hanging"></i> <%= @product.max_load_weight %> KG PTC</div>
                <% if @product.second_hand.present? && @product.second_hand? %>
                  <div class="product-description"><i class="fas fa-handshake"></i> Produit d'occasion</div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="options">
              <h4 class='hook'>Options du modèle</h4>
              <div class="description-group">
                <% if @product.second_hand.present? && @product.second_hand? %>
                  <p class="product-description">produit d'occasion</p>
                <% end %>
                <p class="product-description"><%= @product.max_load_weight %> KG PTC</p>
                <p class="product-description"><%= @product.empty_weight %> KG à vide</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

