<p>Bonjour,</p>
<p>Il n'est pas toujours simple de choisir sa remorque, que l'on totalement novice ou expérimenté, il y a quelques questions à se poser avant de plonger dans l'univers de la remorque. <br>De manière à vous aider au mieux, nous avons établit un guide de choix. Bonne Consultation! </p>
<%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1647289913/guide_de_choix_1_fzlvtw.png'%>
<%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1647289913/guide_de_choix_2_hfcl77.png'%>
<%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1647289913/guide_de_choix_3_stmlml.png'%>
<%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1647289913/guide_de_choix_4_k7g15q.png'%>
<%= link_to 'https://soumatremorques.herokuapp.com' do %>
  <div class="btn btn-flat">Trouvez votre produit <i class="fas fa-long-arrow-alt-right"></i></div>
<% end %>

<%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/c_crop,g_center,h_120,w_250/v1643388825/Portfolio/soumat_logo_blanc.png', class: 'footer-brand'%>
<%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1647006680/production/Capture_d_e%CC%81cran_2022-03-11_a%CC%80_14.50.20.png', class: 'img-fluid map' %>
