<!DOCTYPE html>
<html>
  <head>
    <title>Soumatremorques</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/category_nav' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <script>
      $(document).ready(function(){
        $("#informations-trigger").click(function(){
          $("#informations").toggle();
        });
      });
    </script>
    <script>
      $(document).ready(function(){
        $("#advice-trigger").click(function(){
          $("#advice").toggle();
        });
      });
    </script>
    <script>
      $(document).ready(function(){
        $("#description-trigger").click(function(){
          $("#description").toggle();
        });
      });
    </script>
  </body>
</html>
